<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Here is the file numbers, Hello! ;)</h1>
    <h2>Happy to be here ^_^!</h2>
    <h3>This is my first time using EJS, and here are the numbers:</h3>
    <div><%= numbers %></div>
  </body>
</html>
